<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Match Detail</title>
</head>

<body>

<nav>
    <a th:text="#{navbar.login}"
       th:href="@{/users/login}">
    </a>

    <a th:text="#{navbar.register}"
       th:href="@{/users/registration}">
    </a>

    <a th:text="#{navbar.matches}"
       th:href="@{/matches/list}">
    </a>
</nav>

<h1>Match Detail</h1>

<table th:object="${match}">

    <tr>
        <th>Home team</th>
        <td>
            <span th:text="*{homeTeamFlag}"></span>
            <span th:text="*{homeTeamName}"></span>
        </td>
    </tr>

    <tr>
        <th>Away team</th>
        <td>
            <span th:text="*{awayTeamFlag}"></span>
            <span th:text="*{awayTeamName}"></span>
        </td>
    </tr>

    <tr>
        <th>Date</th>

        <td th:with="df=#{date.format.pattern}"
            th:text="${#temporals.format(match.matchDateTime, df)}">
        </td>
    </tr>

    <tr>
        <th>Stadium</th>

        <td th:text="*{stadium}"></td>
    </tr>

    <tr>
        <th>Group</th>

        <td th:text="*{worldCupGroup}"></td>
    </tr>

    <tr>
        <th>Score</th>

        <td th:text="${match.outcome != 'SCHEDULED'}
            ? match.scoreHomeTeam + ' - ' + match.scoreAwayTeam
            : '-'">
        </td>
    </tr>

    <tr>
        <th>Outcome</th>

        <td th:text="*{outcome}"></td>
    </tr>

</table>

<p>
    <a th:href="@{/matches/list}">
        Back to matches
    </a>
</p>

</body>
</html>