<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">

    <nav>
        <a th:text="#{navbar.login}"
           th:href="@{/users/login}">
        </a>

        <a th:text="#{navbar.register}"
           th:href="@{/users/registration}">
        </a>
    </nav>

    <form method="get">

        <select name="lang"
                onchange="this.form.submit()">

            <option value="en"
                    th:selected="${#locale.language == 'en'}">
                English
            </option>

            <option value="nl"
                    th:selected="${#locale.language == 'nl'}">
                Nederlands
            </option>

        </select>

    </form>

</header>

</html>