<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert name</title>
</head>
<body>

<nav>
    <a th:href="@{/}">Home</a>
    <a th:href="@{/users}">Users</a>
    <a th:href="@{/competitions}">Competitions</a>
    <a th:href="@{/users/create}">Create User</a>
</nav>

<form th:action="@{/hello}" th:object="${inputDTO}" method="post">
    Name:
    <input type="text" th:field="*{name}" size="15" placeholder="name"/>
    <button type="submit">OK</button>
</form>
</body>
</html>