<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Create User</title>

    <style>
        .error {
            color: red;
            font-size: 14px;
        }
    </style>

</head>
<body>

<nav>
    <a th:text="#{navbar.login}" th:href="@{/users/login}"></a>
    <a th:text="#{navbar.register}" th:href="@{/users/registration}"></a>
</nav>

<div class="container">

    <h2 th:text="#{register.title}"></h2>

    <form th:action="@{/users/registration}" th:object="${inputRegistrationDTO}" method="post">

        <div>
            <label th:text="#{register.name}" for="name"></label>
            <input type="text" id="name" th:field="*{name}" />
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error">
        </span>
        </div>

        <br/>

        <div>
            <label th:text="#{register.lastname}" for="lastname"></label>
            <input type="text" id="lastname" th:field="*{lastname}" />
            <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="error">
        </span>
        </div>

        <br/>

        <div>
            <label th:text="#{register.email}" for="email"></label>
            <input type="email" id="email" th:field="*{email}" />
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error">
        </span>
        </div>

        <br/>

        <div>
            <label th:text="#{register.password}" for="password"></label>
            <input type="password" id="password" th:field="*{password}" />
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error">
        </span>
        </div>

        <div>
            <label th:text="#{register.passwordConfirmation}" for="confirmPassword"></label>
            <input type="password" id="confirmPassword" th:field="*{confirmPassword}" />
            <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="error"></span>
        </div>

        <br/>

        <button th:text="#{register.save}" type="submit"></button>

    </form>
</div>

</body>
</html>